/********* Fonts **********/

@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'riffic_mediumbold';
  src: url('../fonts/riffic-bold-webfont.woff2') format('woff2'),
       url('../fonts/riffic-bold-webfont.woff') format('woff'),
       url('../fonts/riffic-bold-webfont.ttf') format('truetype'),
       url('../fonts/riffic-bold-webfont.svg#riffic_mediumbold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/****** Media Queries ******/

@media all and (min-width: 1081px) {
  body {
    font-size: 1.5em;
  }
  .img-holder {
  	margin-left: -1.00em !important;
  }
}
 
@media all and (max-width: 1080px) and (min-width: 641px) {
  body {
    font-size: 1.2em;
  }
  .img-holder {
    margin-left: -1.25em !important;
  }
}
 
@media all and (max-width: 640px) and (min-width: 300px) {
  body {
    font-size: .8em; 
  }
  .img-holder {
    margin-left: -1.90em !important;
  }
}


/****** Main Styling ******/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;  
}

body {
	font-family: 'Roboto', 'riffic_mediumbold', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

#heading {
 	text-align: center;
	padding: 0;
}

[id*='businesscard_'] {
  margin-top: .625em;
  border: 1px solid grey;
  border-radius: .3em;
  background-color: #daf1e0;  
}

.container  {
	text-align: left;
}

.business {
  padding: 1px;
}
  
h1 {
	font-family: 'riffic_mediumbold', sans-serif;
	font-size: 4.236em;
	color: #e60000;
	text-shadow: .0525em .0588em #000000;
}
 
h2 { 
	font-family: 'riffic_mediumbold', sans-serif;
	font-size: 2em;
	color: #e60000;
	margin: 0;
	left: .625em;
}
 
p {
 	font-size: 1em;
 	line-height: 1.5em;
}


/****** twitter/search button and input styling ******/

.fa {
  font-Size: 1.4em;
}

.glyphicon {
  font-Size: 1.2em;
}

.fa, .glyphicon {
  color: #1DA1F2;
  vertical-align: middle;
}

.btn {
  width: 42px;
}

.btn:hover {
  background-color: #daf1e0;
  border: 0;
} 

#login.btn,
#search.btn,
#location-input {
  -webkit-box-shadow: 0px 1px 3px inset #333;
     -moz-box-shadow: 0px 1px 3px inset #333;
          box-shadow: 0px 1px 3px inset #333;
  
  }

#search.btn:hover {
  -webkit-box-shadow: -1px 2px 4px inset #333;
     -moz-box-shadow: -1px 2px 4px inset #333;
          box-shadow: -1px 2px 4px inset #333;
}

#login:hover {
  -webkit-box-shadow: 1px 2px 4px inset #333;
     -moz-box-shadow: 1px 2px 4px inset #333;
          box-shadow: 1px 2px 4px inset #333;
}

#location-input:focus,
#location-input:hover {
  padding: 0;
  padding-left: .9em;
  color: black;
  -webkit-box-shadow: 0px 1px 3px 1px inset #333;
     -moz-box-shadow: 0px 1px 3px 1px inset #333;
          box-shadow: 0px 1px 3px 1px inset #333;
	background-color: #daf1e0;
  border: 0;  
}


/****** Business thumbnail and info container (div) ******/

.img-holder {
  margin-left: -12.25em;
  float: left;
}

.img-thumbnail {
  width: 9.5em;
  height: 9.5em;
  z-index: 2;
  border-right: .05em solid gray;
  border-bottom: .05em solid gray;
  -webkit-border-radius: .3125em .3125em .3125em 0;
     -moz-border-radius: .3125em .3125em .3125em 0;
          border-radius: .3125em .3125em .3125em 0;
}

.bttn {
 	width: 9.5em; 
 	text-align: center;
	outline: none;
  -webkit-border-radius: 0 .3125em .3125em .3125em;
     -moz-border-radius: 0 .3125em .3125em .3125em;
          border-radius: 0 .3125em .3125em .3125em;
}

.badge {
	font-size: .8em;
}


/****** Business name and address details ******/

.business {
  margin-top: .625em;
  margin-left: 9.375em;
}

.address {
	margin-top: -1.3em;
}

a:link {
  color: #e60000; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #e60000;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

a:active {
  color: #00BCD4;
  background-color: transparent;
  text-decoration: none;
}

#credit {
	text-align: center;	
}

#credit a:link {
	text-decoration: underline;
}

#credit a:hover {
	color: blue;
}